@page
@{
    Layout = "";
}




<div class="text-center">
    <h1>Index</h1>

    <p>These examples relate to blog posts that I have done or will be doing.</p>

    <a href="/example1">Example 1</a>: A simplified approach for integrating vue and razor.<br />
    <a href="/example2">Example 2</a>: Use of Vue Mixins for page specific needs<br />
</div>





